.title1.fade
  %h1="venn"
.title2.hidden.fade.invisible
  = email_field_tag :email, nil, autocomplete: :off, :data => { remote: true, method: :post, url: teaser_path }
.line1
%h2.title1.fade
  ="what you can do does not fit into a job title"
%h2.title2.hidden.fade.invisible
  ="leave your e-mail to get notified"
  .status
    .loader.fade.invisible.hidden
    .success.fade.invisible.hidden
    .fail.fade.invisible.hidden
